<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924683716899-idq5bj13ecg7n7gqbpl67qm5i9ordci9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924683716899-idq5bj13ecg7n7gqbpl67qm5i9ordci9</string>
	<key>API_KEY</key>
	<string>AIzaSyC2_QgPoal-g5Yr_8M4nEk6SjOWJw0jGb8</string>
	<key>GCM_SENDER_ID</key>
	<string>924683716899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freebix</string>
	<key>PROJECT_ID</key>
	<string>freebix-e3570</string>
	<key>STORAGE_BUCKET</key>
	<string>freebix-e3570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924683716899:ios:33472242c6ea1a5e6d6496</string>
	<key>DATABASE_URL</key>
	<string>https://freebix-e3570.firebaseio.com</string>
</dict>
</plist>